header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-div{
    margin: 100px 200px 100px 200px;
    display: grid;
    grid-template-columns:auto auto auto ;
    
    padding: auto;
    row-gap: 50px;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
    
}
.text {
    position: absolute;
    bottom: 60px;
    left: 45%;
    
  } 
.image{
    padding: 50px;
    color: black;
    position: relative; 
    text-align: center;
    color: transparent; 
}

.image:hover{
    transform: scale(1.05);
    color: red;
    
}

